 * {
    box-sizing: border-box; 
}
body {
    background: #FAFAFA;
    width: 320px;
}


title,
h1,
h2,
h4,
p 
{
    font-family: 'Raleway', sans-serif;
}

h3,
h5,
h6,
{
    font-family: 'Roboto', sans-serif;
}

h1,
.header-nav {
    text-align: center;
}
.section-header {
    text-transform: uppercase;
    padding-bottom: 2em 0 0;
}

.banner {
    text-align: center;
    padding: 2em 1em 2em;
}
.banner-image {
    width: 75%;
}
.header-nav li {
    background: white;
    margin: 5px 20px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.header-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.banner-text,
.portfolio-item-description {
    color:darkgrey;
    font-size: 1em;
    line-height: 1.5em;
}
/* Portfolio */
.container {
    background: white;
    text-align: center;
    padding: 3em 0 3em;
}
.portfolio-item {
    padding-top: 2em;
}
.portfolio-image {
    width: 90%;
}
.portfolio-item-heading {
    font-weight: normal;
    font-size: 1.2em;
}
/* Footer */
#contact {
    background: #fafafa;
}
.footer-item {
    font-size: 1em;
}
.footer-contact {
    color:darkgrey;
    font-size: 1em;
    font-weight: normal;
}
span {
    font-weight: bold;
    padding-left: 5px;
}
span a {
    text-decoration: none;
    color: dimgrey;
}
.bottom {
    margin: 0 1em;
    border-top: .75px solid rgb(169,169,169,.5);
}
hr {
    color: #fafafa;
}
#student-name {
    float: left;
}
#back-to-top {
    float: right;
    text-transform: uppercase;

}
#back-to-top a {
    text-decoration: none;
    color: black;
}

/* ----------- MEDIA QUERIES ----------- */
@media (min-width: 768px) {
body {
    width: 100%;
}
.banner {
    width: 90%;
}
.banner-text {
    float: left;
    width: 60%;
    text-align: left;
    padding: 0 1em;
    margin: 0;
}
.banner-image {
    float: right;
    width: 40%;
}
/* .header-nav {
    display: block;
    text-align: center;
} */
/* .header-nav li {
    display: inline-block;
    width: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
} */
.header-nav li {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 15px;
    background: none;
}








}

@media (min-width: 1024px) {


    
}
/* ----------- MEDIA QUERIES ----------- */
.clearfix::after {
    content: "";
    display: table;
  clear: both;
}
