 * {
    box-sizing: border-box; 
}
body {
    background: #FAFAFA;
    /* width: 320px; */
    width: 100%;
}

.name {
    color: rgb(255, 139, 38);
    text-shadow:  0 2px .5px rgba(108, 122, 137, .5);
}
a:hover {
    color: rgb(255, 139, 38);
}
title,
h1,
h2,
h4,
p 
{
    font-family: 'Raleway', sans-serif;
}

h3,
h5,
h6
{
    font-family: 'Roboto', sans-serif;
}

h1,
.header-nav {
    text-align: center;
}
.section-header {
    text-transform: uppercase;
    padding-bottom: 2em;
}
#portfolio {
    background: peachpuff;
}

.banner {
    text-align: center;
    padding: 2em 1em 2em;
}
.banner-image {
    width: 75%;
}
.header-nav li {
    background: peachpuff;
    margin: 5px 20px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.header-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header-nav a:hover {
    color: rgb(255, 139, 38) !important;
}

.banner-text,
.portfolio-item-description {
    color:darkgrey;
    font-size: 1em;
    line-height: 1.5em;
}
/* Portfolio */
.container {
    background: white;
    text-align: center;
    padding: 3em 0 3em;
}
.portfolio-item {
    padding-top: 2em;
}
.portfolio-image {
    width: 90%;
}
.portfolio-item-heading {
    font-weight: normal;
    font-size: 1.2em;
}
.portfolio-item-description {
    margin: 1em;
}
/* Footer */
footer {
    padding: 15px;
}

#contact {
    background: #fafafa;
    border-bottom: .75px solid rgb(169,169,169,.5);
    margin: 0 auto;

}
.footer-item {
    font-size: 1em;
}
.footer-contact {
    color:darkgrey;
    font-size: 1em;
    font-weight: normal;
}
#skills ul {
    background: peachpuff;
    margin: 0 auto;
    color: black;
    width: 50%;  
    border: 2px rgb(255, 139, 38) solid;
}
#skills li {
    padding: 15px 0; 
    border: 1px rgba(255, 139, 38, .4) solid;
}
span {
    font-weight: bold;
    padding-left: 5px;
}
span a {
    text-decoration: none;
    color: dimgrey;
}
.bottom {
    margin: 0 auto;
    
}
hr {
    color: #fafafa;
}
#student-name {
    /* float: left; */
    display: inline-block;
}
.lower-right {
    float: right;
    text-transform: uppercase;

}
.lower-right a {
    text-decoration: none;
    color: black;
}
.lower-right a:hover {
    color: rgb(255, 139, 38) !important;
}
#end-navigation {
    visibility: hidden;
}

/* ----------- MEDIA QUERIES ----------- */
@media (min-width: 768px) {
body {
    width: 100%;
}
.header-nav ul{
    background: peachpuff;
}
.banner {
    width: 90%;
}
.banner-text {
    float: left;
    width: 60%;
    text-align: left;
    padding: 0 1em;
    margin: 0;
}
.banner-image {
    float: right;
    width: 40%;
}
.header-nav li {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 15px;
    background: none;
}
.container,
.wrap,
.banner {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.bottom {
    max-width: 1150px;
}
.banner {
    margin-bottom: 32px;
}
.tablet-size {
    display: block;
    padding-right: 1em;
    padding-left: 1em;
}
.portfolio-item {
    width: 50%;
    float: left;
}
.portfolio-image {
    width: 95%;
}
.portfolio-item-heading,
.portfolio-item-description {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
#footer-text,
#skills-text {
    width: 60%;
    padding-bottom: 20px;
}
.footer-contact {
    margin: 20px 0;
}
#back-to-top {
    display: none;
}
.lower-right a {
    margin: 15px;
}
#end-navigation {
    visibility: visible;
}

}


@media (min-width: 927px) {
.portfolio-item {
    width: 33%;
}
}



@media (min-width: 1024px) {
.banner {
    width: 100%;
    padding: 32px 3em;
}
.banner-text {
    padding: 0 2em 0 0;
    text-align: left;
    font-size: 1.2em;
}
.name {
    float: left;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5em;
}
.header-nav ul {
    float: right;
    /* padding-top: 1em; */
    font-size: .9em;
    margin-top: 1.5em;
}
.header-nav li {
    display: inline-block;
    margin-left: 15px;
    
}
#portfolio {
    width: 90%;
}
.name,
.header-nav {
    padding: 1em 2em 0 2em;
    vertical-align: top;
}
.portfolio-item {
    width: 33%;
}
.tablet-size {
        padding-right: 1.8em;
    padding-left: 1.8em;
}
#footer-text,
#skills-text {
    width: 45%;
}
.portfolio-item-heading,
.portfolio-item-description {
    width: 93%;
    font-size: .9em;
    margin-right: auto;
    margin-left: auto;
}
}
/* ----------- CLEARFIX ----------- */
.clearfix::after {
    content: "";
    display: table;
  clear: both;
}
